.git/
kultliederbuch/.gradle
kultliederbuch/build/
kultliederbuch/shared/build/
kultliederbuch/shared/.idea/
kultliederbuch/shared/build/generated/
kultliederbuch/shared/build/intermediates/
kultliederbuch/shared/build/outputs/
kultliederbuch/shared/build/tmp/
kultliederbuch/shared/build/sqlc/
dev/data.csv
caches/
.gradle/