.git/
.gradle/
caches/
kultliederbuch/.gradle/
kultliederbuch/build/
kultliederbuch/shared/build/
kultliederbuch/shared/build/generated/
kultliederbuch/shared/build/intermediates/
kultliederbuch/shared/build/outputs/
kultliederbuch/shared/build/tmp/
kultliederbuch/shared/build/sqlc/
dev/data.csv
kultliederbuch/shared/.idea/
kultliederbuch/.idea/shelf/
kultliederbuch/.idea/workspace.xml
kultliederbuch/.idea/kultliederbuch.z11.de.iml
kultliederbuch/.idea/misc.xml
kultliederbuch/.idea/modules.xml
kultliederbuch/.idea/vcs.xml
kultliederbuch/.idea/caches
kultliederbuch/.idea/deploymentTargetSelector.xml
kultliederbuch/.idea/gradle.xml
kultliederbuch/.idea/AndroidProjectSystem.xml
kultliederbuch/.idea/appInsightsSettings.xml
kultliederbuch/.idea/compiler.xml
kultliederbuch/.idea/kotlinc.xml
kultliederbuch/.idea/migrations.xml
kultliederbuch/app-android/build/
